
body{
 margin: 0px;
 background-color: #FE2E64;
}

.entete{
 margin: 20px 20px 10px 20px;
 background-color: #FFFFFF;
 height: 140px;
 
}

.corps{
 margin: 0px 20px 20px 20px;
 background-color: #FFFFFF;
 height: auto;
 
}


.sary{
	float:left;
  margin: 20px 20px 20px 20px ;
  background: url("../public/logo.png");
}


.menu{
	margin-left:4%;
	color:#E63D6D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;


}


.menu li a {
  display: block ;
  color: #000 ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

.menu li a:hover, .menu li a:focus, .menu li a:active {
  background: #FE2E64 ;
  text-decoration: underline ;
}


.menu ul li{
  margin: 20px 20px 20px 20px ;
  float:left;
  margin-right:10px;
  list-style:none;

}

footer{
background-color:#D8D8D8;
}

.ensemble{
  height:90%;
  border:1px;
  border-color:#fff;
}
