<div id="content">
    <div class="logo">
      <div class="textLogo">
           Administration
      </div>
    </div>

   <div class="gauche">
      <div class="entrer">
            <ul>
            	<li> <a href="entries" target="_blank">Entries</a> </li>
              <li> <a href="blog_posts" target="_blank">Blog posts</a> </li>
            	<li> <a href="containers" target="_blank">Containers</a> </li>
            	<li> <a href="navigations" target="_blank">Navigation</a> </li>
            	<li> <a href="navigation_entries" target="_blank">Navigation entries</a> </li>
              <li> <a href="container_navigations" target="_blank">Container navigation</a> </li>					  	
            </ul>
          </div>
         </div>
<div class="droite">

     <h3>New entry</h3>

          <%= render 'form' %>
        <div class="new">
              <%= link_to 'Back', entries_path %>
        </div>
