// Place all the styles related to the administration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Déclaration des styles des balise */



/*  Style du menu pricipale */

/*.MenuBarHorizontal{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#FFFFFF;
	margin:1% 1% 1% 1%;
}


/* Décalration des styles des mises en page */
body {
	margin: 10px;
	font: 0.8em "Trebuchet MS", Georgia, Arial;
	color: #565D79;
	background: url("") repeat ;
	}
#content{
	position: relative;
	width: 800px;
  height: 500px;
	margin: 0 ;
	border: none;
}


.logo{
	padding:2% 2% 2% 2%;
	height:80px;
  background: url("back_body.png");
}

.saryLogo{
	float:left;
}

.textLogo{
	text-align:center;
	text-transform:uppercase;
	margin-left:4%;
	color:#E63D6D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;

}



.gauche{
	width:28%;
  margin-left: 0;
	float:left;
	border:1;
}

.droite{
	width:70%;
	float:right;
	margin-left:1%;
	border:1;
}


.entrer{
	margin:2% 2% 2% 2%;
	padding:2% 2% 2% 2%;
  	font-weight: bold;
    line-height: 26px;
    font-variant: small-caps;
    color:#E63D6D;
}
.ambany{
  width: 100%;
  background: url("main_bottom.png");

}


table {
  border: medium solid #BCBBBB;
  border-collapse: collapse;
  width: 50%;
}
th {
  font-family: monospace;
  border: thin solid #BCBBBB;
  width: 50%;
  padding: 5px;
  background-color: #D0E3FA;
  background-image: url(main_bottom.png);
}
td {
  font-family: sans-serif;
  border: thin solid #BCBBBB;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
}
caption {
  font-family: sans-serif;
}

/*Css menu verticale */
#navigation {
  width: 170px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  margin-bottom: 1px ;
}

#navigation li a {
  display: block ;
  background: #c00 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #900 ;
  text-decoration: underline ;
}
/*h1,h2,h3,h4,h5,h6 {
  color: #E6E3E3;
}


/* Décalration des styles des textes */

