// Place all the styles related to the administration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Déclaration des styles des balise */



/*  Style du menu pricipale */

/*.MenuBarHorizontal{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#FFFFFF;
	margin:1% 1% 1% 1%;
}


/* Décalration des styles des mises en page */
body {
	margin: 10px;
	font: 0.8em "Trebuchet MS", Georgia, Arial;
	color: #565D79;
	background: url("") repeat ;
	}
#content{
	position: relative;
	width: 800px;
  height: 500px;
	margin: 0 ;
	border: none;
}


.logo{
	padding:2% 2% 2% 2%;
	height:80px;
  background: url("back_body.png");
}

.saryLogo{
	float:left;
}

.textLogo{
	text-align:center;
	text-transform:uppercase;
	margin-left:4%;
	color:#E63D6D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;

}



.gauche{
	width:28%;
	float:left;
	border:1;
}

.droite{
	width:70%;
	float:right;
	margin-left:1%;
	border:1;
}


.entrer{
	margin:2% 2% 2% 2%;
	padding:2% 2% 2% 2%;
  	font-weight: bold;
    line-height: 26px;
    font-variant: small-caps;
    color:#E63D6D;
}
.ambany{
  width: 100%;
  background: url("main_bottom.png");

}

/*h1,h2,h3,h4,h5,h6 {
  color: #E6E3E3;
}


/* Décalration des styles des textes */

