// Place all the styles related to the entries controller here.
body {
	margin: 10px;
	font: 0.8em "Trebuchet MS", Georgia, Arial;
	color: #565D79;
	background: #ffffff ;
	}
#content{
	position: relative;
	width: 900;
	margin: 0 auto;
	border: 2px solid #003399;
}

.logo{
	padding:2% 2% 2% 2%;
	height:80px;
}

.saryLogo{
	float:left;
}

.textLogo{
	text-align:center;
	text-transform:uppercase;
	margin-left:4%;
	color:#E63D6D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
}


.gauche{
	width:15%;
	float:left;
	border:1;
}

.droite{
	width:85%;
	float:right;
	border:1;
}


.entrer{
	margin:1% 2% 2% 2%;
	padding:1% 2% 2% 2%;
  	font-weight: bold;
    line-height: 26px;
    font-variant: small-caps;
    color:#E63D6D;
}

.new{
  background: url(menu_bt.png) no-repeat center;
  text-align: center;
  text-color: #ffffff;
}


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
