// Place all the styles related to the entries controller here.
.body
{
 background-color :#b0c4de;
}

.ListTitle
{
 color: #9E3DAE;
 font-weight: bold;
 font-size: larger;
}
#text-table
{
  color : #9E3DAE;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
