// Place all the styles related to the navigation_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.droite{
	width:75%;
	float:right;
	margin-left:1%;
	border:1; 
  }
